/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom CSS */
* {
    box-sizing: border-box;
}

body {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.bg-black {
    background: #000 !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-between {
    justify-content: space-between;
}

.text-white {
    color: #fff !important;
}

.background-cover {
    background-size: cover;
    background-position: center center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 52px;
}

.nav li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    max-width: 278.5px;
}

.banner {
    display: flex;
    color: #fff;
    align-items: center;
}

h2 {
    font-size: 64px;
    line-height: 1.5;
}

h1 {
    color: #00FFA3;
    font-size: 128px;
    line-height: 1.5;
    align-self: flex-end;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.btn {
    font-family: "Bruno Ace SC", sans-serif;
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 24px;
    cursor: pointer;
    align-self: flex-end;
    display: flex;
    align-items: center;
    border: none;
    transition: ease-out 0.15s;
}

.btn:hover {
    box-shadow: 0 5px 5px 0 rgba(255, 255, 255, 0.25);
}

.btn img {
    width: 20px;
    height: 20px;
}

.introduction {
    display: flex;
    padding-top: 160px;
    padding-bottom: 160px;
    gap: 24px;
}

.introduction p {
    margin-bottom: 32px;
}

.introduction .pic-collection {
    display: flex;
    gap: 24px;
}

.about-me {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.skill-item {
    width: 306px;
}

.tech-intro {
    width: 526px;
    flex-shrink: 0;
}

.skill-item .card {
    padding: 16px;
    border: 1px solid #e3e3e3;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.skill-item h3 {
    font-size: 20px;
    line-height: 1.5;
}

.skill-item p {
    font-size: 1rem;
}

/* contact */
.contact {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 96px;
}

.contact-title {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-media li:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.social-media li a{
    display: block;
    border-radius: 40px;
    padding: 0;
    line-height: 0;
}

.social-media li a:hover {
    box-shadow: 
        0 0 16px 3px #9094ffe5,
        0 4px 4px 0 rgba(0,0,0,0.25);
}

/* projects */
.projects {
    padding-top: 160px;
    padding-bottom: 160px;
}

.projects h2 {
    width: 746px;
    margin-left: auto;
}

.projects .d-flex {
    gap: 24px;
}

.projects .projects-intro {
    margin-bottom: 4px;
}

.projects .projects-intro p {
    font-size: 16px;
}

.projects-intro button {
    align-self: flex-start;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p {
    font-size: 16px;
    text-align: center;
}